# ==========================================================================
# CRE WORKFLOW SETTINGS FILE
# ==========================================================================
# Workflow-specific settings for CRE CLI targets.
# Each target defines user-workflow and workflow-artifacts groups.
# Settings here override CRE Project Settings File values.

local-simulation:
  user-workflow:
      workflow-name: "{{ if getenv "WF_NAME_OVERRIDE" }}{{ getenv "WF_NAME_OVERRIDE" }}{{ else }}{{ (datasource "config").workflowName }}{{ end }}"
  workflow-artifacts:
    workflow-path: "./wasm/workflow.wasm"
    config-path: "{{ if has (datasource "config") "configPath" }}{{ (datasource "config").configPath }}{{ else }}./config.yaml{{ end }}"

staging:
  user-workflow:
    workflow-name: "{{ if getenv "WF_NAME_OVERRIDE" }}{{ getenv "WF_NAME_OVERRIDE" }}{{ else }}{{ (datasource "config").workflowName }}{{ end }}"
  workflow-artifacts:
    workflow-path: "./wasm/workflow.wasm"
    config-path: "{{ if has (datasource "config") "configPath" }}{{ (datasource "config").configPath }}{{ else }}./config.yaml{{ end }}"
