{{- $config := datasource "config" -}}
network: "{{ $config.network }}"
chainID: "{{ $config.chainId }}"
chainSelector: {{ $config.chainSelector }}
workflowEventOtelEndpoint: ""
courierURL: "{{ $config.courierUrl }}"
service: "{{ $config.service }}"
watcherID: "{{ $config.watcherID }}"
workflowName: "{{ $config.workflowName }}"
detectEventTriggerConfig:
  contractName: "{{ $config.contractName }}"
  contractAddress: "{{ $config.contractAddress }}"
  contractEventNames:
{{- range $i, $name := $config.eventNames }}
    - "{{ $name }}"
{{- end }}
  contractReaderConfig:
    contracts:
      {{ $config.contractName }}:
        configs:
{{- range $i, $name := $config.eventNames }}
          {{ $name }}: '{"chainSpecificName": "{{ $name }}", "readType": "event"}'
{{- end }}
        contractABI: '{{ $config.contractABI }}'
        contractPollingFilter:
          genericEventNames:
{{- range $i, $name := $config.eventNames }}
            - "{{ $name }}"
{{- end }}
          pollingFilter:
            logsPerBlock: 0
            maxLogsKept: 0
            retention: "0s"
            topic2: null
            topic3: null
            topic4: null
